# Probabilidad

In [2]:
import matplotlib.pyplot as plt
from sklearn.datasets import load_iris
import numpy as np
import pandas as pd

In [3]:
# Cargar el set de datos de iris
iris = load_iris()

### Hacer uso de Pandas para ver y calcular las siguientes probabilidades en base a toda la población

In [4]:
# Usando los datos, calcular la probabilidad de que la característica petal_length sea mayor a 1.6

In [5]:
columnas = iris['feature_names']
print(columnas)

['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)']

In [6]:
pd.DataFrame(iris['data'])

       0    1    2    3
0    5.1  3.5  1.4  0.2
1    4.9  3.0  1.4  0.2
2    4.7  3.2  1.3  0.2
3    4.6  3.1  1.5  0.2
4    5.0  3.6  1.4  0.2
..   ...  ...  ...  ...
145  6.7  3.0  5.2  2.3
146  6.3  2.5  5.0  1.9
147  6.5  3.0  5.2  2.0
148  6.2  3.4  5.4  2.3
149  5.9  3.0  5.1  1.8

[150 rows x 4 columns]

In [18]:
data = pd.DataFrame(iris['data'], columns=columnas)
data

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [8]:
probabilidad = len(data[(data['petal length (cm)'] > 1.6)]) / len(data)
probabilidad

0.7066666666666667

In [9]:
# Usando los datos, calcular la probabilidad de, tomando una muestra aleatoria, que esta corresponda a la clase Virginica

In [10]:
d_targets = {idx:x for idx, x in enumerate(iris['target_names'])}
d_targets

{0: 'setosa', 1: 'versicolor', 2: 'virginica'}

In [19]:
targets = pd.DataFrame(iris['target'], columns=['target'])
targets = pd.DataFrame(targets['target'].map(d_targets))
targets

        target
0       setosa
1       setosa
2       setosa
3       setosa
4       setosa
..         ...
145  virginica
146  virginica
147  virginica
148  virginica
149  virginica

[150 rows x 1 columns]

In [12]:
probabilidad = len(targets[(targets['target'] == 'virginica')]) / len(targets)
probabilidad

0.3333333333333333

In [13]:
# Usando los datos, calcular la probabilidad de que, habiendo salido la clase Virginica, la característica petal_length sea mayor a 1.6

P(A|B) = P(A and B) / P(B)

In [20]:
data_ = pd.concat([data,targets], axis = 1)
data_

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica
146,6.3,2.5,5.0,1.9,virginica
147,6.5,3.0,5.2,2.0,virginica
148,6.2,3.4,5.4,2.3,virginica
149,5.9,3.0,5.1,1.8,virginica

In [24]:
# P(A and B)
p_a_and_b = len(data_[(data_['petal length (cm)'] > 1.6) & (data_['target'] == 'virginica')]) / len(data_)

# P(B)
p_b = len(data_[data_['target'] == 'virginica']) / len(data_)

# P(A|B)
p_a_given_b = p_a_and_b / p_b

print(p_a_given_b)

1.0

In [ ]:
# Usando los datos, calcular la probabilidad de que, habiendo salido la clase Virginica, la característica petal_length sea mayor o igual a 1.6

In [26]:
# P(A and B)
p_a_and_b = len(data_[(data_['petal length (cm)'] >= 1.6) & (data_['target'] == 'virginica')]) / len(data_)

# P(B)
p_b = len(data_[data_['target'] == 'virginica']) / len(data_)

# P(A|B)
p_a_given_b = p_a_and_b / p_b

print(p_a_given_b)

1.0

In [ ]:
### Dado N, un número entre 1 y 1000, tomar n <=N muestras desde el set de datos anterior, y calcular la media de sepal_length, agregando aditivamente una muestra por vez.
### Esto significa que deberá, primero realizar este cálculo con una muestra (n = 1), luego, agregar otra y volver a calcular la media de las dos muestras (N = 2), realizando esta acción iterativamente hasta llegar a n = N = 1000
#### Grafique los cálculos en un gráfico bidimensional,  en dónde en el eje X represente n, y en el eje Y el promedio de ellas.
#### En el mismo gráfico, represente la media poblacional de todas las muestras (que será constante)

# Estadística

In [ ]:
# Describa el set de datos iris, mostrando el promedio y la varianza de cada parámetro

In [ ]:
# Describa el set de datos iris, mostrando el promedio y la varianza de cada parámetro, de acuerdo a la clase

In [ ]:
# Podría discriminar entre las clases 'setosa' y 'versicolor' con el feature 'petal length (cm)'?
# Muéstrelo en un histograma

In [ ]:
# Podría discriminar entre las clases 'setosa' y 'versicolor' con el feature 'sepal length (cm)'?
# Muéstrelo en un histograma

### Reglas de decisión

In [ ]:
# Elija un umbral de petal_length que le permita predecir a través de una condición >, o <=, sólamente a través de ese feature, si es de tipo setosa o no lo es

In [ ]:
# Elija, a través de los datos, un umbral de petal_length que le permita discriminar si es de tipo versicolor o no lo es, sólamente a través de ese feature.
# Saque conclusiones

In [ ]:
# Genere un código que elija, a través de los datos, un umbral de petal_length que le permita discriminar si es de tipo versicolor o no lo es, sólamente a través de ese feature, de forma tal que espere la misma tasa de falsos negativos que de falsos positivos

In [ ]:
# Genere un código que elija, a través de los datos, un umbral de petal_length que le permita discriminar si es de tipo versicolor o no lo es, sólamente a través de ese feature, de forma tal que espere que la tasa de falsos negativos sea el doble que de falsos positivos

In [ ]:
# Genere un código que elija, a través de los datos, dos umbrales de petal_length que le permitan discriminar de que tipo es entre 'setosa', 'versicolor' y 'virginica', de forma tal que espere la misma tasa de falsos positivos que de falsos negativos para versicolor vs setosa y para versicolor vs virginica.