In [3]:
import pandas as pd

In [4]:
m = [2,4,6,3,1]

In [5]:
s = pd.Series(m)

In [6]:
s = pd.Series(m, index=[x for x in range(len(m))]) # Le asigno un indice

In [7]:
s

0    2
1    4
2    6
3    3
4    1
dtype: int64

In [8]:
s = pd.Series(m, index=[x+3 for x in range(len(m))])# El indice no tiene porque empezar en 0:
s

3    2
4    4
5    6
6    3
7    1
dtype: int64

In [9]:
s.rename("numeros")

3    2
4    4
5    6
6    3
7    1
Name: numeros, dtype: int64

In [10]:
d = {'a':3, 'b':5, 'c':9}
s = pd.Series(d)
s

a    3
b    5
c    9
dtype: int64

In [11]:
s = pd.Series(m, index=[(x+3)//2 for x in range(len(m))]) # El indice se puede repetir:
s

1    2
2    4
2    6
3    3
3    1
dtype: int64

In [12]:
s.loc[2] #Loc: Access a group of rows and columns by label(s) or a boolean array

2    4
2    6
dtype: int64

In [13]:
s.loc[[2,3]]

2    4
2    6
3    3
3    1
dtype: int64

In [14]:
s.iloc[2]

6

In [15]:
s.iloc[0:2]

1    2
2    4
dtype: int64

In [16]:
s.iloc[0:-1]

1    2
2    4
2    6
3    3
dtype: int64

In [17]:
type(s)

pandas.core.series.Series

In [18]:
#Â DataFrame

In [19]:
m_base = [[2,3,4],
          [3,4,5],
          [1,1,2]]

In [20]:
pd.DataFrame(m_base)

   0  1  2
0  2  3  4
1  3  4  5
2  1  1  2

In [21]:
pd.DataFrame(m_base, columns = ["num_1", "num_2", "num_3"])

   num_1  num_2  num_3
0      2      3      4
1      3      4      5
2      1      1      2

In [22]:
pd.DataFrame(m_base, columns = [f"num_{x}" for x in range(3)])

   num_0  num_1  num_2
0      2      3      4
1      3      4      5
2      1      1      2

In [23]:
df = pd.DataFrame(m_base, columns = [f"num_{x}" for x in range(3)], index = ["idx_1", "idx_2", "idx_3"])
df

       num_0  num_1  num_2
idx_1      2      3      4
idx_2      3      4      5
idx_3      1      1      2

In [24]:
df.loc["idx_1"] # Devuelve una serie

num_0    2
num_1    3
num_2    4
Name: idx_1, dtype: int64

In [25]:
df.loc[["idx_1"]] # Devuelve un df

       num_0  num_1  num_2
idx_1      2      3      4

In [26]:
df.loc[["idx_1", "idx_2"]] # Devuelve un df

       num_0  num_1  num_2
idx_1      2      3      4
idx_2      3      4      5

In [27]:
df.loc[:] # Devuelve un df

       num_0  num_1  num_2
idx_1      2      3      4
idx_2      3      4      5
idx_3      1      1      2

In [28]:
df.loc[["idx_1", "idx_2"], ["num_0", "num_1"]] # Devuelve un df

       num_0  num_1
idx_1      2      3
idx_2      3      4

In [29]:
df.iloc[1]

num_0    3
num_1    4
num_2    5
Name: idx_2, dtype: int64

In [30]:
df.iloc[1:3]

       num_0  num_1  num_2
idx_2      3      4      5
idx_3      1      1      2

In [31]:
import numpy as np

In [32]:
m_np = np.random.randint(0,10, (10,20))

In [33]:
m_np.shape #Â Cantidad de filas x columnas

(10, 20)

In [34]:
m_np

array([[7, 6, 4, 4, 3, 4, 0, 9, 0, 0, 9, 5, 5, 1, 7, 5, 1, 7, 1, 5],
       [2, 8, 7, 5, 4, 2, 5, 3, 7, 6, 4, 7, 5, 5, 3, 8, 6, 2, 6, 3],
       [8, 7, 9, 5, 9, 3, 7, 9, 5, 7, 4, 2, 5, 5, 8, 0, 4, 2, 9, 8],
       [7, 2, 7, 6, 1, 6, 1, 8, 0, 2, 6, 9, 0, 4, 4, 2, 7, 8, 5, 3],
       [4, 7, 9, 0, 0, 2, 3, 2, 9, 8, 9, 8, 5, 8, 0, 8, 9, 1, 7, 0],
       [7, 5, 5, 2, 4, 2, 6, 9, 2, 7, 3, 4, 7, 7, 8, 3, 1, 5, 3, 0],
       [6, 8, 4, 3, 8, 8, 0, 5, 0, 2, 4, 0, 1, 9, 0, 4, 6, 3, 3, 6],
       [7, 6, 5, 2, 5, 0, 1, 2, 3, 4, 6, 8, 3, 5, 0, 2, 4, 6, 7, 0],
       [8, 8, 6, 6, 4, 5, 7, 4, 1, 2, 0, 9, 0, 8, 7, 6, 8, 1, 8, 8],
       [6, 2, 9, 9, 6, 9, 1, 5, 5, 5, 4, 2, 7, 5, 5, 4, 7, 3, 4, 6]])

In [35]:
pd.DataFrame(m_np, columns=[f"columns_{x}" for x in range(m_np.shape[1])], index=[f"row_{x}" for x in range(m_np.shape[0])])

,columns_0,columns_1,columns_2,columns_3,columns_4,columns_5,columns_6,columns_7,columns_8,columns_9,columns_10,columns_11,columns_12,columns_13,columns_14,columns_15,columns_16,columns_17,columns_18,columns_19
row_0,7,6,4,4,3,4,0,9,0,0,9,5,5,1,7,5,1,7,1,5
row_1,2,8,7,5,4,2,5,3,7,6,4,7,5,5,3,8,6,2,6,3
row_2,8,7,9,5,9,3,7,9,5,7,4,2,5,5,8,0,4,2,9,8
row_3,7,2,7,6,1,6,1,8,0,2,6,9,0,4,4,2,7,8,5,3
row_4,4,7,9,0,0,2,3,2,9,8,9,8,5,8,0,8,9,1,7,0
row_5,7,5,5,2,4,2,6,9,2,7,3,4,7,7,8,3,1,5,3,0
row_6,6,8,4,3,8,8,0,5,0,2,4,0,1,9,0,4,6,3,3,6
row_7,7,6,5,2,5,0,1,2,3,4,6,8,3,5,0,2,4,6,7,0
row_8,8,8,6,6,4,5,7,4,1,2,0,9,0,8,7,6,8,1,8,8
row_9,6,2,9,9,6,9,1,5,5,5,4,2,7,5,5,4,7,3,4,6

In [36]:
from sklearn.datasets import load_iris

In [37]:
l_raw = load_iris()

In [38]:
l_raw['feature_names']

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [39]:
*type(l_raw['data'])

SyntaxError: can't use starred expression here (3589540188.py, line 1)

In [40]:
pd.DataFrame(l_raw['data'])

       0    1    2    3
0    5.1  3.5  1.4  0.2
1    4.9  3.0  1.4  0.2
2    4.7  3.2  1.3  0.2
3    4.6  3.1  1.5  0.2
4    5.0  3.6  1.4  0.2
..   ...  ...  ...  ...
145  6.7  3.0  5.2  2.3
146  6.3  2.5  5.0  1.9
147  6.5  3.0  5.2  2.0
148  6.2  3.4  5.4  2.3
149  5.9  3.0  5.1  1.8

[150 rows x 4 columns]

In [41]:
pd.DataFrame(l_raw['data']).head(10)

     0    1    2    3
0  5.1  3.5  1.4  0.2
1  4.9  3.0  1.4  0.2
2  4.7  3.2  1.3  0.2
3  4.6  3.1  1.5  0.2
4  5.0  3.6  1.4  0.2
5  5.4  3.9  1.7  0.4
6  4.6  3.4  1.4  0.3
7  5.0  3.4  1.5  0.2
8  4.4  2.9  1.4  0.2
9  4.9  3.1  1.5  0.1

In [42]:
pd.DataFrame(l_raw['data']).tail(10)

       0    1    2    3
140  6.7  3.1  5.6  2.4
141  6.9  3.1  5.1  2.3
142  5.8  2.7  5.1  1.9
143  6.8  3.2  5.9  2.3
144  6.7  3.3  5.7  2.5
145  6.7  3.0  5.2  2.3
146  6.3  2.5  5.0  1.9
147  6.5  3.0  5.2  2.0
148  6.2  3.4  5.4  2.3
149  5.9  3.0  5.1  1.8

In [43]:
l_raw['data'].shape

(150, 4)

In [44]:
data = pd.DataFrame(l_raw['data'], columns=l_raw['feature_names'])
data.sample(5)

    sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
24                4.8               3.4                1.9               0.2
73                6.1               2.8                4.7               1.2
55                5.7               2.8                4.5               1.3
84                5.4               3.0                4.5               1.5
29                4.7               3.2                1.6               0.2

In [46]:
data_info = data.describe()
data_info

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
count,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333
std,0.828066,0.435866,1.765298,0.762238
min,4.300000,2.000000,1.000000,0.100000
25%,5.100000,2.800000,1.600000,0.300000
50%,5.800000,3.000000,4.350000,1.300000
75%,6.400000,3.300000,5.100000,1.800000
max,7.900000,4.400000,6.900000,2.500000

In [ ]:
l_raw['target'].shape

(150,)

In [ ]:
targets = pd.DataFrame(l_raw['target'], columns=['target'])
targets.sample(10)

     target
6         0
14        0
71        1
142       2
121       2
39        0
15        0
42        0
21        0
120       2

In [ ]:
pd.concat([data, targets], axis=1)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [ ]:
l_raw['target_names']

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [ ]:
d_targets = {idx:x for idx, x in enumerate(l_raw['target_names'])}

In [ ]:
pd.concat([data, targets], axis=1)['targets'].map(d_targets)

SyntaxError: ignored